@import "./scss/button";
@import "./scss/reset";
@import "./scss/variables";

body {
  background-image:$backgroundImage;
  font-family: $font-body;
  height: 100vh;
  background-attachment: fixed;
}
p {
  font-family: $font-p;
  color: white;
}
