@import "./variables";

.btn-container {
  button {
    color: white;
    margin-top: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  &-small {
   
    padding: 5px;
  }
  &-large {
   
    width: 60px;
    padding: 5px;
  }
}
